.Welcome-container {
    width: 85%;
    height: 200px;
    margin: auto;
    overflow: auto;
}

.Welcome-item {
    float: left;
    width: 30%;
    background-color: gray;
    text-align: center;
    padding: 18px 14px;
}

.Welcome-item2 {
    margin: 0px 5%;
}


/* .Welcome-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
} */

.Welcome-item:hover .Welcome-overlay {
    visibility: visible;
    opacity: 0.7;
}


/* 
.Welcome-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: aqua;
    font-size: 25px;
    margin-left: auto;
}

.Welcome-overlay a i {
    line-height: 40px;
} */